[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "manydata"]
	path = manydata
	url = https://github.com/globalgov/manydata
[submodule "manystates"]
	path = manystates
	url = https://github.com/globalgov/manystates
[submodule "messydates"]
	path = messydates
	url = https://github.com/globalgov/messydates
